@import "variables";

a {
  color: white;
  text-decoration: none;
}

li {
  margin-left: $margin-general / 2;

  &:not(:last-child) {
    margin-right: $margin-general / 2;
  }
}

p {
  margin-right: $margin-general / 2;
}

ul {
  display: flex;
  line-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
