@import "variables";

a {
  color: white;
  text-decoration: none;
}

button {
  text-transform: capitalize;
}

mat-toolbar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-index-header;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}
