@import "variables";

.registration {
  &__consents {
    margin-bottom: $margin-general / 2;
  }

  &__open-in-new {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
    vertical-align: text-top;
  }
}
