<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="email" formControlName="email" placeholder="Email" required
           [placeholder]="'auth.registration.email.placeholder' | translate" />
    <mat-error *ngIf="registerForm.get('email').invalid">{{ 'auth.registration.email.error' | translate }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [type]="hiddenPassword ? 'password' : 'text'" formControlName="password" placeholder="Password"
           required [placeholder]="'auth.registration.password.placeholder' | translate" />
    <mat-icon matSuffix (click)="hiddenPassword = !hiddenPassword"></mat-icon>
    <mat-error *ngIf="registerForm.get('password').hasError('required')">
      {{ 'auth.registration.password.error.required' | translate }}</mat-error>
    <mat-error *ngIf="registerForm.get('password').hasError('minlength')">
      {{ 'auth.registration.password.error.max-length' | translate }}</mat-error>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit" [disabled]="isLoading">
    {{ 'auth.registration.button' | translate }}</button>
</form>
