@import "breakpoints";
@import "variables";

@include media($to: tbl-p) {
  .content {
    flex-direction: column-reverse;
  }
}

@include media($from: tbl-p) {
  aside {
    flex: 1;
    height: 100%;
    position: sticky;
    top: $height-header;
  }

  main {
    flex: 2;
  }

  .content {
    flex: 1;
    margin: 0 auto;
    max-width: $width-max-page;
  }
}

aside,
main {
  padding: $padding-general;
}

.content {
  display: flex;
}
