@import "variables";

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  margin: {
    bottom: $margin-vertical-button;
    top: $margin-vertical-button;
  }
  text-transform: uppercase;
  width: 100%;
}

form {
  padding: $padding-general;
}

mat-form-field {
  margin: {
    bottom: $margin-vertical-input;
    top: $margin-vertical-input;
  }
  width: 100%;
}

