@import "variables";

button,
mat-form-field {
  margin: {
    bottom: $margin-general / 2;
    top: $margin-general / 2;
  }
}

html,
body {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

button {
  text-transform: uppercase;
  width: 100%;

  &.mat-raised-button {
    margin: $margin-general 0;
  }
}

form {
  padding: $padding-general;
}

mat-checkbox label {
  font-size: .9rem;
  white-space: normal !important;
}

mat-error {
  font-size: .75rem;
}

mat-form-field {
  width: 100%;
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 1.5;
}

.mat-input-element[readonly],
.mat-input-element[readonly]::placeholder {
  opacity: .5;
}
